body {
  background: linear-gradient(to right, #e65116, #0d4494);
}

/* Estilização geral das seções principais do site com borda */
.header,
.nav,
.main,
.footer,
.Canto_Fixo,
.Parte_Grande,
section {
  padding: 10px;
  margin: 10px;
  border: 2px solid #a5a5a5;
  background-color: #ffffff; /* Cor de fundo branca */
}

/* Estilização do cabeçalho com cor de fundo cinza */
#header {
  background-color: #a5a5a5;
}

/* Barra de navegação com fundo colorido e posição sticky no topo */
.nav {
  background-color: rgb(12, 68, 148);
  position: sticky; /* Fixa a navbar no topo ao rolar a página */
  top: 0;
  overflow: auto;
  height: 70px;
}

.nav_list {
  display: flex; /* Alinha os itens lado a lado */
  list-style: none; /* Remove marcadores da lista */
  margin: 0;
  padding: 0;
  align-items: center;
}

/* Itens da lista da navbar sem marcadores e alinhados à esquerda */
.li_NavBar {
  list-style-type: none; /* Remove os marcadores da lista */
  /* Alinha os itens lado a lado à esquerda */
  margin: 10px; /* Espaçamento para centralizar visualmente os itens */
}

/* Estilização do cabeçalho com fonte personalizada e itálico */
.Empresa {
  font-family: "Roboto Condensed", sans-serif; /* Família da fonte */
  font-style: italic; /* Deixa o texto em itálico */
  text-shadow: 7px 2px 3px #5f5f5f; /* Sombra do texto */
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

/* Imagem da logo do Senai no cabeçalho */
#Logo_Empresa_Senai {
  max-width: 100%;
  height: 100px;
}

/* Ícone do WhatsApp com posição fixa no canto inferior direito */
.WhatsApp {
  position: fixed;
  border-radius: 50%;
  opacity: 0.8;
  bottom: 10px;
  right: 10px;
  height: 100px;
  width: 100px;
}

/* Links da navbar com estilo personalizado */
.NavBar_Links_a {
  text-decoration: none; /* Remove o sublinhado */
  color: #ffffff; /* Cor da fonte */
  font-weight: bold; /* Negrito */
  font-size: 20px; /* Tamanho da fonte */
}

/*Centralização de texto no rodapé*/
footer {
  text-align: center;
}

/* Remove as marcacoes da lista na aba de noticias recentes*/
.li_Aside {
  list-style-type: none;
}

/* Remove o Sublinhado dos Links da Aba de Noticias Recentes*/
.Aside_Links_a {
  text-decoration: none; /* Remove o sublinhado */
  color: #000000; /* Cor da fonte */
  font-weight: bold; /* Negrito */
  font-size: 20px; /* Tamanho da fonte */
}
